body{
    margin: 5px;
    padding: 10px;
    background-image: linear-gradient(#563d7c,#9566db);
    height: 100vh;
        
}
.container{
    position: relative;
    top: 25px;
    height: 90vh;
    background-color: #563d7c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    animation: fadeIn 1s ease-in 0.5s;

}
.heading{
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    position: relative;
    top: -20px;
}
.heading > h1 {
    font-size: 50px;
    color: rgb(243, 237, 237);
    font-family: "Lobster";
    margin: 10px;
}
.quote-box{
    width: 70%;
    height: 30%;
    background-color: rgb(252, 244, 244);
    box-shadow: 10px 5px 10px rgb(54, 54, 54);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    overflow: hidden;
    font-style: italic;
    color: #563d7c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Sacramento";
}

.btn{
    
    width: 40%;
    height: 15%;
    margin: 10px;
    position: relative;
    top: 10px;

    
}
.bn{
    position: relative;
    font-size: 1.7em;
    padding: 10px 24px;
    top: 25px;
    background-color: white;
    color: grey;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: none;
    
}
.bn:hover{
    background-color: #563d7c;
    color: white; 
    border: 2px solid white;
    border-radius: 5px;   
}
.footer{
    width: 15%;
    height: 25%;
    position: relative;
    top: 25px;
    left: px;
    font-size: 15px;
    overflow: hidden;
    font-weight: bold;
}
/* Animation */

.quote-box-inner{
    animation: fadeIn 1s ease-in 0.5s;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
 /* Media Queries */
@media screen and (max-width: 800px){
    body{
        margin: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heading{
        width: 80%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        top: -210px;
        animation: land 500ms ease-in 500ms ;
        animation-fill-mode: forwards;
    }
    .heading > h1{
        position: relative;
        left: -13px;
        font-size: 30px;
    }
    .quote-box {
        width: 87%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
    }
    /* Animation */
    @keyframes land {
        75%{
            transform: translateY(225px)
        }
        100%{
            transform: translateY(220px)
        }
    }

}
@media screen and (max-width: 450px){
    body{
        margin: 10px;
        padding: 10px;
        align-content: center;
    }
    .container{
        width: 85vw;
        height: 87vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
    }
    .heading{
        width: 80%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
        top: -227px;
        animation: land 500ms ease-in 500ms ;
        animation-fill-mode: forwards;
         
    }
    .heading > h1{
        position: relative;
        left: -13px;
        top: -10px;
        font-size: 20px;
    }
    .quote-box {
        width: 89%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }
    .btn{
        width: 70%;
        height: 10%;
        font-size: 10px;
    }
    /* Animation */
    @keyframes land {
        75%{
            transform: translateY(218px)
        }
        100%{
            transform: translateY(210px)
        }
    }
